img {
    max-width: 100%;
    max-height: 100%;
}

.game
{
    width: 1080px;
    border: solid 1px #ddd;
    margin: 0 auto;
    background: #0000ff4d;
    border-radius: 10px;
    text-align:center;
}

.lbl{
    border: none;
    margin: 5px;
    border-radius: 10px;
    text-align:center;
    outline: none;
}

.btn{
    background:#222;
    color:white;
    border:none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor:pointer;
    margin: 5px;
    outline: none;
}

.btn:hover{
    background:dodgerblue;
}

.game h3
{
    padding: 10px;
    background:black;
    color:white;
}

.game .game-status
{
    padding-top: 20px;
    display: none;
}

.game .game-start
{
    padding: 20px;
}

.game .game-body
{
    padding: 20px;
    display: none;
}

.game .game-options
{
    text-align:center;
}

.game .bet-options
{
    text-align:center;
}

.game .challenge-options
{
    text-align:center;
}

.game .card{
    width: 80px;
    border: solid 1px black;
    display: inline-block;
    border-radius: 5px;
    font-size: 10pt;
    text-align: center;
    margin: 3px;
}

.game .status
{
    width: 480px;
    background: #fff8d4;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 0 auto;
    display: none;
}


.players{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.player{
    width: 50%;
    border: solid 5px #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:1%;
    vertical-align: top;
    background:#f5f5f5;
}

.player.active{
    border: solid 1px #222;
}

.points{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 10px;
}

.deck{
    float:left;
    background: white;
    color:#222;
    padding: 10px;
    border-radius:10px;
    border: double 5px;
}

.trick{
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
    background:#f5f5f5;
    display: none;
    width: 480px;
}
